body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    /* background-color: #f4f4f4; */
    height: 100vh;
    position: fixed;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    /* margin: 0 auto 10px; */
}

.content {
    flex-grow: 1;
    padding: 20px;
    
    /* background-color: #f9f9f9; */
}


.dropdown-menu {
    display: none; 
    position: absolute;
    top: 60px; 
    left: 350px; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    right: 40px;
    
   
}

.dropdown-menu a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown-menu hr {
    margin: 8px 0;
    border: none;
    border-top: 1px solid #ddd;
}
/* Responsive help */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
        position: static;
        width: 100%;
        height: auto;
    }

    .content {
        margin-left: 220px;
        margin-top: 80px;
        
    }
    .king-image{
       
        
        right: 40%;
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 100px;
        padding: 10px;
        margin-left: 15px;
        text-align: center;
    }

    .sidebar nav a {
        font-size: 12px;
        padding: 5px;
        text-align: center;
    }

    .profile img {
        width: 50px;
        height: 50px;
    }

    .content {
        margin-left: 120px;
        padding: 10px;
    }

    .dropdown-menu {
        width: 80%; 
        left: 6.5%; 
        top: 300px;
        
    }
}

@media (max-width: 400px) {
    .sidebar {
        position: static;
        width: 100%;
        height: auto;
    }

    .content {
        margin: 0;
        padding: 10px;
        top: 10%;
    }
}